@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";
body {
  font-family: "Roboto Mono", monospace;
}
html {
  scrollbar-width: none;
}
:root {
  --text-color: #1b1b19;
  --text-bg: #ffffff;
}

@font-face {
  font-family: font1;
  src: url(../public/fonts/61dda8782d6530778e4343c5_mediasanssemicondensed-bold-TRIAL.otf);
}
@font-face {
  font-family: font2;
  src: url(../public/fonts/624325ea630c625303e9b1f9_Media\ Sans\ SemiCondensed\ -\ Extended.ttf);
}
@font-face {
  font-family: font3;
  src: url(../public/fonts/Magz.otf);
  font-weight: normal;
  font-style: normal;
}
